@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome 21DTHD2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Mình là CiCD nè các bạn!</a>.</p>
</div>
